In [1]:
#library import
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      UserId  gender  age  estimated salary  purchased
0   15862310    male   18             22000          1
1   15862410    male   19             23000          0
2   15862510    male   20             24000          1
3   15862610    male   21             19000          1
4   15862710    male   22             25000          1
5   15862810    male   23             26000          1
6   15862910  female   24             27000          1
7   15863010  female   25             28000          0
8   15872310  female   26             29000          1
9   15882310  female   27             30000          1
10  15892310    male   28             31000          1
11  15892410    male   29             32000          1
12  15902510    male   30             33000          0
13  15867310  female   31             34000          1
14  15868810  female   32             35000          1
15  15869100  female   33             38000          0
16  15862310  female   34             43000          1
17  15872510    male   35             48000          0
18  15882410    male   36             75000          1

In [35]:
dataset=pd.get_dummies(dataset,drop_first=True)# string value float
dataset
dataset= dataset["gender_male"].astype(int)
dataset

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    0
14    0
15    0
16    0
17    1
18    1
Name: gender_male, dtype: int32

In [22]:
dataset=dataset.drop("age" ,axis=1)

In [23]:
dataset["purchased"].value_counts()

purchased
1    14
0     5
Name: count, dtype: int64

In [25]:
indep=dataset[["estimated salary", "gender_male"]] #indepent input 
dep=dataset["purchased"]# dependent output

In [26]:
indep.shape

(19, 2)

In [27]:
dep

0     1
1     0
2     1
3     1
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    1
12    0
13    1
14    1
15    0
16    1
17    0
18    1
Name: purchased, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep, dep, test_size= 1/3,random_state=0)

In [29]:
x_test

    estimated salary  gender_male
10             31000            1
1              23000            1
8              29000            0
18             75000            1
14             35000            0
16             43000            0
6              27000            0

In [30]:
x_train

    estimated salary  gender_male
4              25000            1
2              24000            1
5              26000            1
13             34000            0
9              30000            0
7              28000            0
17             48000            1
11             32000            1
3              19000            1
0              22000            1
15             38000            0
12             33000            1

In [12]:
y_test

10    1
1     0
8     1
18    1
14    1
16    1
6     1
Name: purchased, dtype: int64

In [13]:
y_train

4     1
2     1
5     1
13    1
9     1
7     0
17    0
11    1
3     1
0     1
15    0
12    0
Name: purchased, dtype: int64

In [31]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'minkowski', p=2)#procedure
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [36]:
y_pred=classifier.predict(x_test)

AttributeError: 'Flags' object has no attribute 'c_contiguous'